# Ignore virtual environments
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore PyCharm settings
.idea/
